<section class="first-screen">
    <div class="container">
        <div class="first-screen__inner">
            <div class="first-screen__content">
                <h2>Ми знову прибрали все зайве, щоб ви отримали кращий досвід.</h2>
                <p class="first-screen__text">Залиште номер телефону, і ми надішлемо посилання на додаток, де можна
                    відкрити рахунок ФОП</p>
                <form class="first-screen__buttons" action="submit">
                    <input class="first-screen__input input" name="phone" required="" type="tel"
                        placeholder="+380 (XX) XXX-XX-XX">
                    <button type="submit" class="first-screen__btn btn-white">Хочу рахунок ФОП</button>
                </form>
            </div>
            <div class="first-screen__img">
                <picture>
                    <source srcset="/assets/img/cat.webp" type="image/webp">
                    <source srcset="/assets/img/cat.png" type="image/png">
                    <img src="/assets/img/cat.png" alt="cat" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>