@import "../../styles.scss";

.first-screen {
    padding: 200px 0 150px;
    @include adaptive-value("padding-top", 200, 50, 3);
    @include adaptive-value("padding-bottom", 150, 80, 3);
    background: #6849da;
    color: #fff;
    h2 {
        margin: 45px 0;
        line-height: 48px;
        max-width: 500px;
    }
    &__inner {
        display: flex;
        justify-content: center;
        @include adaptive-value("gap", 40, 0, 3);
        position: relative;
    }
    &__content {
        width: 50%;
    }
    &__text {
        margin-bottom: 45px;
    }
    &__buttons {
        display: flex;
        gap: 16px;
        margin: 16px 0;
    }
    &__btn {
        color: #6849da;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    &__input {
        background: rgba(255, 255, 255, 0.2);
        font-weight: 500;
        color: white;
        &::placeholder {
            color: #c5adf1;
        }
    }
    &__img {
        background: url("../../assets/img/cat-ellipse.svg") left center no-repeat;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 992px) {
    .first-screen {
        h2 {
            margin: 20px 0;
            max-width: 100%;
        }
        &__inner {
            flex-direction: column-reverse;
            align-items: center;
        }
        &__content {
            width: 100%;
            padding: 0 20px;
        }
        &__buttons {
            flex-direction: column;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
}
