<section class="card">
    <div class="container">
        <div class="card__inner">
            <div class="card__content">
                <h1>Немає картки monobank?</h1>
                <p class="card__text">Не страшно, її можна отримати просто зараз</p>
                <button class="card__button btn-white">Отримати картку</button>
                <div class="card__remark">
                    Відкриття картки ні до чого не зобов'язує. Крім рахунка ФОП у нас дуже багато <a
                        href="https://www.monobank.ua/">крутих
                        пропозицій</a>
                </div>
            </div>
            <picture>
                <source srcset="/assets/img/card.webp" type="image/webp">
                <source srcset="/assets/img/card.png" type="image/png">
                <img class="card__img" src="/assets/img/card.png" alt="card" loading="lazy">
            </picture>
        </div>
    </div>
</section>