<section class="cabinet">
    <div class="container">
        <div class="cabinet__inner">
            <picture>
                <source srcset="/assets/img/mockups-ru.webp" type="image/webp">
                <source srcset="/assets/img/mockups-ru.png" type="image/png">
                <img class="cabinet__img" src="/assets/img/mockups-ru.png" alt="mockups" loading="lazy">
            </picture>

            <div class="cabinet__content">
                <h2>Бухгалтерський <br> кабінет</h2>
                <p class="cabinet__text">Окремий бухгалтерський кабінет для керування рахунком ФОП.</p>
                <p class="cabinet__text">Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті.
                </p>
                <button class="cabinet__btn btn">Увійти в кабінет</button>
            </div>
        </div>
    </div>
</section>