@import "../assets/styles/_fonts.scss";
@import "../assets/styles/_nullstyle.scss";

header,
main,
footer {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
}

h1,
h2,
h3 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 1.21875;
}

h1 {
    margin: 45px 0;
    font-size: 40px;
    line-height: 48px;
    max-width: 500px;
}

h2 {
    font-size: 56px;
    margin: 45px 0;
}

h3 {
    font-size: 40px;
}

select {
    background: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    padding: 0 56px;
    max-width: 100%;
}

.logo {
    font: 20px;
    height: 20px;
    color: #000;
}

.header {
    &__secondary {
        background-color: #f6f6f6;
        padding: 16px 56px;
        &__nav {
            display: flex;
            justify-content: flex-end;
            gap: 16px;
            a,
            select {
                font-size: 12px;
                color: #888;
                letter-spacing: 0.5px;
            }
        }
    }
    &__main {
        padding: 32px 56px;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
        &__nav {
            display: flex;
            gap: 24px;
            a {
                font-family: "Inter", sans-serif;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: #000;
                font-size: 12px;
                font-weight: 900;
            }
        }
    }
}

.btn-white,
.btn,
.input {
    padding: 17px 24px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    min-width: 240px;
    border-radius: 16px;
}

.first__screen {
    padding: 100px 0;
    background: #6849da;
    color: #fff;
    &__inner {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    &__content {
        width: 50%;
    }
    &__text {
        margin-bottom: 45px;
    }
    &__buttons {
        display: flex;
        gap: 16px;
        margin: 16px 0;
    }
    &__btn {
        color: #6849da;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
    &__input {
        background: rgba(255, 255, 255, 0.2);
        font-weight: 500;
        color: white;
        &::placeholder {
            color: #c5adf1;
        }
    }
}

.btn-white {
    background-color: #fff;
}

.cabinet {
    &__inner {
        padding: 100px 0;
        gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        width: 50%;
        max-width: 500px;
    }
    &__img {
        width: 100%;
        margin-left: -30px;
        margin-top: 100px;
    }
    &__text:first-of-type {
        margin-top: 40px;
    }
    &__text:last-of-type {
        margin-top: 22px;
    }
    &__btn {
        margin-top: 65px;
        border-radius: 16px;
        color: #fff;
        background-color: #6c38de;
        box-shadow: 0 8px 16px rgba(108, 56, 222, 0.1);
    }
}

.advantages {
    &__inner {
        padding: 65px 0 100px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -25px -28px;
    }
    &__item {
        width: 25%;
        margin: 35px 25px;
        p {
            margin-top: 10px;
            font-size: 15px;
            color: #000;
            opacity: 0.5;
        }
        &:nth-child(1) .advantages__icon__svg {
            left: 23px;
            top: 20px;
        }
        &:nth-child(3) .advantages__icon__svg {
            left: 22px;
            top: 22px;
        }
        &:nth-child(4) .advantages__icon__svg {
            left: 22px;
            top: 23px;
        }
        &:nth-child(6) .advantages__icon__svg {
            left: 23px;
            top: 20px;
        }
    }
    &__icon {
        position: relative;

        &__svg {
            position: absolute;
            left: 20px;
            top: 20px;
        }
    }
}

.emoji {
    width: 20px;
    height: 20px;
}

.fop {
    background-color: #5c75e3;
    color: #fff;
    padding: 100px 0 20px;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin: 45px 0;
        padding: 42px 0;
        svg {
            color: #000;
        }
    }
    &__item {
        margin: 28px 25px;
        position: relative;
        list-style-type: none;
        &::before {
            content: "01";
            position: absolute;
            bottom: 25px;
            left: -45px;
            font-weight: 900;
            color: #faf352;
            font-size: 20px;
            font-family: "Inter", sans-serif;
        }
        &:nth-child(2):before {
            content: "02";
        }
        &:nth-child(3):before {
            content: "03";
        }
    }
    &__emoji {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
    }
}

.tariffs {
    padding: 140px 0 100px;
    &-emoji-rocket {
        height: 60px;
        width: 60px;
        position: absolute;
        right: -65px;
        top: 0px;
        transform: translate(-75%, -40%) rotate(12.27deg);
    }
    &__remark {
        font-size: 14px;
        margin: 24px 20px 0 0;
        text-align: right;
        color: #707070;
    }
    &__details {
        position: relative;
        font-size: 16px;
        color: #fa5255;
        padding-left: 27px;
        &::before {
            content: url("../assets/img/list.svg");
            position: absolute;
            width: 16px;
            height: 19px;
            left: 0px;
            top: 0px;
        }
    }
    &__table {
        border-collapse: collapse;
        margin-top: 60px;
        &__row:nth-child(3) &__item,
        &__row:nth-child(4) &__item {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-bottom: 1px solid rgba(204, 204, 204, 0.05);
            }
        }
        &__header {
            font-family: "Inter", sans-serif;
            padding: 32px 16px 20px;
            font-weight: 900;
            font-size: 24px;
            &__logo {
                position: relative;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                color: #fff;
                div {
                    color: #b2b2b2;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            &:nth-child(3) {
                color: #75af26;
            }
            &:nth-child(4) {
                color: #ef002f;
            }
            &:nth-child(5) {
                background-image: linear-gradient(135deg, #06503c 0%, #06503c 50%, #dcdf3c 50%, #dcdf3c 100%);
                color: #dcdf3c;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
        &__footer {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        &__item {
            color: #5f5f5f;
            width: 240px;
            text-align: center;
            vertical-align: middle;
            padding: 20px 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            &:first-of-type {
                text-align: left;
            }
        }
    }
}

tr {
    position: relative;
}

.mono {
    background-color: #000;
    color: white;
}

.card {
    background-color: #3a50de;
    color: #fff;
    padding: 200px 0 150px;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 60px;
    }
    &__content {
        max-width: 380px;
    }
    &__button {
        margin: 45px 0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        color: #455ce0;
    }
    &__remark {
        max-width: 280px;
        font-size: 14px;
        padding-left: 8px;
        border-left: 2px solid #f7e652;
        a,
        a:hover {
            color: #f7e652;
        }
    }
    &__img {
        width: 506px;
    }
}

.footer {
    padding: 90px 0 100px;
    background-color: #000;
    &__inner {
        margin: 0 24px;
    }
    &__logo {
        width: 354px;
        color: #fff;
        &:hover {
            color: #fa5255;
        }
    }
    &__remark {
        margin-top: 32px;
        font-size: 15px;
        color: #fff;
    }
    &__nav {
        margin-top: 50px;
        display: flex;
        &__text {
            margin-top: 32px;
        }
        &__link {
            font-size: 16px;
            color: #fff;
            display: block;
            padding: 10px 0;
            cursor: pointer;
        }
        &__item {
            width: 100%;
            max-width: 255px;
            margin: 15px;
            &__title {
                font-weight: 900;
                font-family: "Inter", sans-serif;
                font-size: 24px;
                line-height: 29px;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 20px;
            }
        }

        &__info {
            font-size: 14px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.5);
            a {
                color: #fa5255;
            }
        }
        &__social {
            margin: -10px;
            display: flex;
            &__item {
                margin: 10px;
                padding: 12px 12px 8px;
                border-radius: 16px;
            }
            &__item:nth-child(1) {
                background-color: #3b5998;
            }
            &__item:nth-child(2) {
                background-color: #1da1f2;
            }
            &__item:nth-child(3) {
                background-color: #5851db;
            }
            &__item:nth-child(4) {
                background-color: #ff0000;
            }
        }
    }
    &__icon {
        color: #fff;
        height: 22px;
        width: 22px;
    }
}

.new {
    background-color: #fa5255;
    color: #000;
    font-size: 10px;
    font-weight: 700;
    border-radius: 4px;
    padding: 2px 6px;
    position: relative;
    bottom: 10px;
    left: 5px;
}

a:hover,
a.active {
    color: #fa5255;
}
