@import "../../styles.scss";

.tariffs {
    @include adaptive-value("padding-top", 140, 60, 3);
    @include adaptive-value("padding-bottom", 100, 70, 3);
    &-emoji-rocket {
        height: 60px;
        width: 60px;
        position: absolute;
        right: -65px;
        top: 0px;
        transform: translate(-75%, -40%) rotate(12.27deg);
    }
    &__remark {
        font-size: 14px;
        margin: 24px 20px 0 0;
        text-align: right;
        color: #707070;
    }
    &__details {
        position: relative;
        font-size: 16px;
        color: #fa5255;
        padding-left: 27px;
        &::before {
            content: url("../../assets/img/list.svg");
            position: absolute;
            width: 16px;
            height: 19px;
            left: 0px;
            top: 0px;
        }
    }
    &__table {
        border-collapse: collapse;
        margin-top: 60px;
        th,
        td {
            height: 118px;
        }
        th:nth-child(3),
        th:nth-child(4),
        td:nth-child(3),
        td:nth-child(4) {
            border-right: 2px solid rgba(204, 204, 204, 0.2);
        }
        &__row:nth-child(2) &__item,
        &__row:nth-child(3) &__item {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                border-bottom: 2px solid rgba(204, 204, 204, 0.03);
            }
        }
        &__header {
            font-family: "Inter", sans-serif;
            padding: 32px 16px 20px;
            font-weight: 900;
            font-size: 24px;
            &__logo {
                position: relative;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                color: #fff;
                div {
                    color: #b2b2b2;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            &:nth-child(3) {
                color: #75af26;
            }
            &:nth-child(4) {
                color: #ef002f;
            }
            &:nth-child(5) {
                background-image: linear-gradient(135deg, #06503c 0%, #06503c 50%, #dcdf3c 50%, #dcdf3c 100%);
                color: #dcdf3c;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }
        &__footer {
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
        &__item {
            width: 240px;
            text-align: center;
            vertical-align: middle;
            padding: 20px 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            &:first-child {
                text-align: left;
            }
        }
    }
}

tr {
    position: relative;
}

@media (max-width: 768px) {
    .tariffs {
        &__remark {
            text-align: left;
            margin-bottom: 10px;
            margin-right: 0;
        }
        &-emoji-rocket {
            height: 40px;
            width: 40px;
            top: 20px;
            right: -35px;
        }
        &__table {
            margin-top: 30px;
        }
    }

    .desktop {
        display: none;
    }
}
