<section class="tariffs">
    <div class="container">
        <h2>Тарифи</h2>
        <table class="tariffs__table">
            <thead>
                <tr class="tariffs__table__row">
                    <th></th>
                    <th class="mono tariffs__table__header tariffs__table__header__logo">
                        monobank
                        <div>Universal Bank</div>
                        <div class="tariffs__emoji">
                            <picture>
                                <source srcset="/assets/img/rocket_1f680.webp" type="image/webp">
                                <source srcset="/assets/img/rocket_1f680.png" type="image/png">
                                <img class="emoji emoji-rocket tariffs-emoji-rocket" src="/assets/img/rocket_1f680.png"
                                    alt="rocket" loading="lazy">
                            </picture>
                        </div>
                    </th>
                    <th class="tariffs__table__header desktop">Банк 1</th>
                    <th class="tariffs__table__header desktop">Банк 2</th>
                    <th class="tariffs__table__header desktop">Банк 3</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tariffs__table__row">
                    <th class="tariffs__table__item">Вартість відкриття рахунку</th>
                    <td class="tariffs__table__item mono">0 грн</td>
                    <td class="tariffs__table__item desktop">0 грн онлайн <br>
                        100 грн у відділенні</td>
                    <td class="tariffs__table__item desktop">1 грн</td>
                    <td class="tariffs__table__item desktop">50 грн</td>
                </tr>
                <tr class="tariffs__table__row">
                    <th class="tariffs__table__item">Вартість обслуговування рахунку на місяць</th>
                    <td class="tariffs__table__item mono">0 грн</td>
                    <td class="tariffs__table__item desktop">125 грн</td>
                    <td class="tariffs__table__item desktop">100 грн</td>
                    <td class="tariffs__table__item desktop">129 грн</td>
                </tr>
                <tr class="tariffs__table__row">
                    <th class="tariffs__table__item">Комісія за переказ на рахунки інших банків</th>
                    <td class="tariffs__table__item mono tariffs__table__footer">0 грн</td>
                    <td class="tariffs__table__item desktop">3 грн</td>
                    <td class="tariffs__table__item desktop">3 грн</td>
                    <td class="tariffs__table__item desktop">2 грн</td>
                </tr>
            </tbody>
        </table>
        <div class="tariffs__remark">Станом на 26 червня 2020 р.</div>
        <a href="" class="tariffs__details link">Детальні тарифи</a>
    </div>
</section>