@import "./assets/styles/_nullstyle.scss";
@import "./assets/styles/_fonts.scss";

$maxWidth: 1920;
$maxWidthContainer: 1100;
@mixin adaptive-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //только если меньше контейнера
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type==2 {
        //только если больше контейнераа
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        //всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

:root {
    --red: #fa5255;
}

html,
body {
    margin: 0;
}

footer,
header,
main {
    font-family: "Lato", sans-serif;
    @include adaptive-value("font-size", 18, 14, 1);
    font-weight: 500;
    line-height: 1.44;
}

h1,
h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 1.21875;
}

h1 {
    @include adaptive-value("font-size", 56, 30, 1);
    @include adaptive-value("margin-top", 45, 20, 1);
    @include adaptive-value("margin-bottom", 45, 20, 1);
}

h2 {
    @include adaptive-value("font-size", 40, 26, 1);
}

select {
    background: none;
    cursor: pointer;
}

section {
    @include adaptive-value("paddint-right", 56, 20, 1);
    @include adaptive-value("paddint-left", 56, 20, 1);
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-white,
.btn,
.input {
    padding: 17px 24px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    min-width: 240px;
    border-radius: 16px;
}

.btn-white {
    background-color: #fff;
}

.emoji {
    width: 20px;
    height: 20px;
}

.mono {
    background-color: #000;
    color: white;
}

.link:hover,
.link-active {
    color: #fa5255 !important;
}

.link-active {
    cursor: default;
}

.mobile {
    display: none;
}
