@import "./assets/styles/_nullstyle.scss";
@import "./assets/styles/_fonts.scss";
@import "./assets/styles/_mixins.scss";

:root {
    --red: #fa5255;
}

html,
body {
    margin: 0;
}

footer,
header,
main {
    font-family: "Lato", sans-serif;
    @include adaptive-value("font-size", 18, 14, 1);
    font-weight: 500;
    line-height: 1.44;
}

h1,
h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    line-height: 1.21875;
}

h1 {
    @include adaptive-value("font-size", 56, 30, 1);
    @include adaptive-value("margin-top", 45, 20, 1);
    @include adaptive-value("margin-bottom", 45, 20, 1);
}

h2 {
    @include adaptive-value("font-size", 40, 26, 1);
}

select {
    background: none;
    cursor: pointer;
}

section {
    @include adaptive-value("padding-right", 56, 20, 1);
    @include adaptive-value("padding-left", 56, 20, 1);
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-white,
.btn,
.input {
    padding: 17px 24px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    min-width: 240px;
    border-radius: 16px;
}

.btn-white {
    background-color: #fff;
}

.emoji {
    width: 20px;
    height: 20px;
}

.mono {
    background-color: #000;
    color: white;
}

.link:hover,
.link-active {
    color: #fa5255 !important;
}

.link-active {
    cursor: default;
}

.mobile {
    display: none;
}
